.footer-wrapper{
        padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    height: auto;
    margin-top: 10px;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.footer-links a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
