.navbar-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}
.navbar-wrapper > div{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
